/* 
 *  1. Posicionamiento
 *  2. Modelo de caja
 *  3. Tipografia
 *  4. Estilos
 *  5. Otros / Efectos
 */

:root {
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  /* font-family: 'Merriweather', serif; */
}
body {
  background-color: #161c27;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main-search-container {
  margin: 0 auto;
  padding: 10px;
  width: 70%;
  min-width: 600px;
  max-width: 1220px;
  height: auto;
  min-height: 370px;
  max-height: 610px;
  /* background-color: #242c3d;
  border-radius: 30px;
  border: 1px solid #000000; */
}
.main-search-inner {
  padding: 50px 60px;
  width: 90%;
  min-width: 590px;
  max-width: 1210px;
  height: auto;
  min-height: 360px;
  max-height: 600px;
  background-color: #111620;
  border-radius: 20px;
  border: 10px solid #242c3d;
}
.search-breadcrumbs {
  display: flex;
  flex: row;
  list-style: none;
}
.item-breadcrumb {
  font-size: 1.6rem;
  font-weight: 500;
  color: #7a90bb;
}
.item-breadcrumb:first-child::after {
  display: inline-block;
  content: "/";
  margin-left: 8px;
  margin-right: 8px;
}
.main-search-inner h2 {
  margin-top: 20px;
  font-family: "Merriweather", serif;
  font-size: 2.6rem;
  font-weight: bold;
  color: #9ab7ef;
}
.search-container {
  position: relative;
  margin-top: 15px;
}
.search-container span {
  position: absolute;
  top: calc(50% - 12px);
  display: inline-block;
  margin-left: 10px;
  width: 25px;
  height: 25px;
  background-image: url("./icons/search.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.search-container input {
  padding: 18px 40px;
  width: 100%;
  font-size: 1.8rem;
  font-weight: 400;
  background-color: #161c27;
  border: 1px solid #273245;
  border-radius: 5px;
  color: #7a90bb;
  opacity: 1;
}
.search-tags-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10px;
}
.search-tags-container span {
  margin: 5px;
  padding: 6px 12px;
  background-color: #142037;
  border-radius: 25px;
  color: #7a90bb;
}
.search-tags-container span.active {
  background-color: #92b6ff;
  color: #111620;
}
